form {
  background: rgba(255, 237, 214, 0.508);
  background: linear-gradient(
    180deg,
    rgba(255, 236, 211, 0.377) 0%,
    rgba(255, 236, 211, 0.394) 100%
  );
  border-radius: 4px;
  padding-bottom: 20px;
}
.header {
  padding-top: 20px;
  font-size: larger;
  font-weight: bold;
}

input {
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  opacity: 0.7;
  width: 80%;
  text-align: center;
  color: #5b544b;
}
.example {
  font-size: 100;
  opacity: 0.6;
}
