.index {
  background-image: url("city.jpg");
  background-size: cover;
  width: 450px;
  height: 800px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgb(0 0 0/ 0.3);
}
