.wordPhonetic {
  padding-left: 10px;
  background: rgba(255, 237, 214, 0.508);
  background: linear-gradient(
    180deg,
    rgba(255, 236, 211, 0.377) 0%,
    rgba(255, 236, 211, 0.394) 100%
  );
  margin-top: 10px;
  border-radius: 4px;
  max-width: 820px;
}
.phonetic {
  opacity: 0.8;
}
.meaning {
  padding-left: 10px;
  background: rgba(255, 237, 214, 0.508);
  background: linear-gradient(
    180deg,
    rgba(255, 236, 211, 0.377) 0%,
    rgba(255, 236, 211, 0.394) 100%
  );
  margin-top: 10px;
  border-radius: 4px;
  max-width: 800;
}
