.wordPhonetic {
  padding-left: 10px;
  background: rgb(91, 84, 75);
  background: linear-gradient(
    180deg,
    rgba(91, 84, 75, 0.5) 0%,
    rgba(91, 84, 75, 0.49859154929577465) 100%
  );
  margin-top: 10px;
  border-radius: 4px;
  max-width: 500px;
}
.phonetic {
  opacity: 0.8;
}
.meaning {
  padding-left: 10px;
  background: rgb(91, 84, 75);
  background: linear-gradient(
    180deg,
    rgba(91, 84, 75, 0.5) 0%,
    rgba(91, 84, 75, 0.49859154929577465) 100%
  );
  margin-top: 10px;
  border-radius: 4px;
  max-width: 500px;
}
